name: media_stack

networks:
  starr:
    external: true
  qbit:
    external: true
  dozzle:
    external: true


services:
  jellyfin:
    image: jellyfin/jellyfin
    container_name: jellyfin
    hostname: jellyfin
    environment:
      - PUID=${PUID:?error}
      - PGID=${PGID:?error}
      - TZ=${TZ:?error}
    volumes:
      - ${APPDATA:?error}/jellyfin/config:/config
      - ${MEDIA_SHARE1:?error}/data/media:/data/media
#      - ${HDD_MNT:?error}/media/:/data/media
    ports:
      - 8096:8096
#    devices:
#      - /dev/dri:/dev/dri #Required for jellyfin HW transcoding / QuickSync
    restart: unless-stopped
    networks:
      - starr
      - dozzle

  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    hostname: sonarr
    environment:
      - PUID=${PUID:?error}
      - PGID=${PGID:?error}
      - TZ=${TZ:?error}
    volumes:
      - ${APPDATA:?error}/sonarr/config:/config
      - ${MEDIA_SHARE1:?error}/data:/data
    ports:
      - 8989:8989
    restart: unless-stopped    
    networks:
      - starr
      - dozzle


  radarr:
    image: linuxserver/radarr
    container_name: radarr
    hostname: radarr
    environment:
      - PUID=${PUID:?error}
      - PGID=${PGID:?error}
      - TZ=${TZ:?error}
    volumes:
      - ${APPDATA:?error}/radarr/config:/config
      - ${MEDIA_SHARE1:?error}/data:/data
    ports:
      - 7878:7878
    restart: unless-stopped
    networks:
      - starr
      - dozzle
    
  bazarr:
    image: linuxserver/bazarr
    container_name: bazarr
    hostname: bazarr
    environment:
      - PUID=${PUID:?error}
      - PGID=${PGID:?error}
      - TZ=${TZ:?error}
    volumes:
      - ${APPDATA:?error}/bazarr/config:/config
      - ${MEDIA_SHARE1:?error}/data:/data
    ports:
      - 6767:6767
    restart: unless-stopped
    networks:
      - starr
      - dozzle

    
  jellyseerr:
    image: fallenbagel/jellyseerr:latest
    container_name: jellyseerr
    hostname: jellyseerr
    environment:
      - PUID=${PUID:?error}
      - PGID=${PGID:?error}
      - LOG_LEVEL=debug
      - TZ=${TZ:?error}
    ports:
      - 5055:5055
    volumes:
      - ${APPDATA:?error}/jellyseerr/config:/app/config
      - ${MEDIA_SHARE1:?error}/data:/data
    # restart: unless-stopped
    depends_on:
      - radarr
      - sonarr
    networks:
      - starr
      - dozzle

  profilarr:
    image: ghcr.io/dictionarry-hub/profilarr:latest
    container_name: profilarr
    ports:
      - "6868:6868"
    volumes:
      - ${APPDATA:?error}/profilarr/config:/config
    environment:
      - PUID=${PUID:?error}
      - PGID=${PGID:?error}
      - TZ=${TZ:?error}

  qui:
    image: ghcr.io/autobrr/qui:latest
    container_name: qui
    restart: unless-stopped
    ports:
      - 7476:7476
    volumes:
      - ${APPDATA:?error}/qui/config:/config
  
  dozzle-agent:
    image: amir20/dozzle:latest
    container_name: dozzle_arr_stack
    hostname: dozzle_arr_stack
    command: agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 7007:7007
    networks:
      - dozzle
    restart: unless-stopped
